@media (prefers-reduced-motion: reduce) {  
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

body {
    display: flex;
    padding: 16px;
    background-image: url("assets/home/background-home-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.Heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}


